<% conversation.messages.order(updated_at: :desc).each do |message| %>
  <div class="message">
    <% if message.user == conversation.receiver %>
      <div class="col-xs-12 col-md-9 col-md-offset-3 message-left">
        <small class=" left-message"><%= message.message_time %></small>
          <% if message.user.galleries[0].nil? %>
            <strong><%= message.user.first_name %> <%= message.user.last_name %></strong>
          <% else %>
            <strong><%= message.user.first_name %> <%= message.user.last_name %> (<%= message.user.galleries.first.name %> gallery)</strong>
          <% end %>
        <div class="message-body">
          <p><%= message.body %></p>       
        </div>  
      </div>
    <% else %>
      <div class= "col-xs-12 col-md-9 message-right">
          <% if message.user.galleries[0].nil? %>
            <strong><%= message.user.first_name %> <%= message.user.last_name %></strong>
          <% else %>
            <strong><%= message.user.first_name %> <%= message.user.last_name %> (<%= message.user.galleries.first.name %> gallery)</strong>
          <% end %>
        <small class=" left-message"><%= message.message_time %></small>
        <div class="message-body">
          <p><%= message.body %></p>       
        </div>  
      </div>
    <% end %>
  </div>
<% end %>
