<!-- Title -->
<div class="container text-center">
  <h1>Liste des Artistes </h1>
</div>
<br>
<br>

<div class="wrapper" id="main-user-gallery-show">
  <!-- Left Side of Page -->
  <div class="container left">
    <table class="table table-hover table-artwork">
      <tr>
        <th>Photo</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Naissance</th>
        <th>Décès</th>
        <th>Actions</th>
      </tr>

      <% if !@artists.empty? %>
        <% @artists.order(last_name: :asc).each do |artist| %>
          <tr>
            <td> <% if artist.photo != nil %>
              <%= image_tag artist.photo.url(:cards), style: 'height: 70px;'%>
               <% end %>
              </td>
            <td> <%= artist.first_name %></td>
            <td> <%= artist.last_name %></td>
            <td> <%= artist.birth_date %></td>
            <td> <%= artist.death_date %></td>
            <td class = "text-center"><p class="modal-artwork" data-toggle="modal" data-target=".bs-artist-modal-lg<%=artist.id%>"><i class="far fa-edit"></i></p>
              <%= link_to artist_path(artist), method: :delete , hidden: true do %>
                  <i class="fas fa-trash" style= "color: black;" id= "delete-link-artist<%=artist.id%>"></i>
                <% end %>
                  <span data-id="artist<%=artist.id%>" class="sweet-alert-d">  <i class="fas fa-trash"></i></span>  </td>
          </tr>
            <%= render 'artists/shared/add_artist_form', artist: artist %>
        <% end %>
      <% else %>
        <p>No artists</p>
      <% end %>


    </table>

  </div>

  <!-- Right Side of Page - Add artworks Form  -->
  <div class="container right">
    <div class="text-center">
      <h3>Ajouter une Artiste</h3>
      <hr>
      <!-- Large modal -->
      <button type="button" class="btn btn-create" data-toggle="modal" data-target=".bs-artist-modal-lg<%=@artist.id || 0%>">Ajouter Un Artiste</button>

      <br>
      <br>
    </div>


     <%= render 'artists/shared/add_artist_form', artist: @artist %>
  </div>
</div>
