<div class="full-height">
  <div id="conversation-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-2 no-margin">
            <div id="conversations" class= "">
              <% if @conversations.empty? %>
                <p>Vous n'avez aucune conversation</p>
              <% else %>
                <% @conversations.each do |conversation| %>
                  <a class="conversation convo-left" id="conversation<%= conversation.id %>" data-conversation-number="<%= conversation.id %>">
                    <h6>Conversation</h6>
                    <p>
                    <% if current_user == conversation.sender %>
                      <% if conversation.receiver.galleries.empty? %>
                        <%= conversation.receiver.first_name %> <%= conversation.receiver.last_name %>
                      <% else %>
                        <%= conversation.receiver.galleries.first.name %>
                      <% end %>
                    <% else %>
                      <% if conversation.sender.galleries.empty? %>
                        <%= conversation.sender.first_name %> <%= conversation.sender.last_name %>
                      <% else %>
                        <%= conversation.sender.galleries.first.name %>
                      <% end %>
                    <% end %>
                    </p>
                  </a>
                  <hr>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="col-xs-12 col-md-10 no-margin">
            <% unless @conversations.empty? %>
              <% @conversations.each do |conversation| %>
              <div class="messages" id="messages<%= conversation.id %>">
                <% if conversation.messages.empty? %>
                  <p>You have no messages in this conversation</p>
                <% else %>
                  <%= render "conversations/shared/messages", conversation: conversation %>
                <% end %>
              </div>  
              <%= render "conversations/shared/message_form", conversation: conversation %>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>

