<div class="title">
Liste des expositions de l'utilisateur <%= current_user.first_name %>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <% @exhibitions.each do |exhibition| %>
        <div class="card-exhibition" style="background-image: url(<%= cl_image_path(exhibition.cover_photo.url(:banner)) %>);">
         <button type="button" class="btn btn-modify" data-toggle="modal" data-target=".bs-exhib-modal-lg<%=exhibition.id || 0%>">Modifier</button>
          <%= link_to user_exhibition_path(current_user.id, exhibition.id) do %>
            <i class="fas fa-cogs"></i><p class="btn-gestion">Gérer l'exposition</p>
            <% end %>
        </div>
         <%= render 'exhibitions/shared/add_exhibition_form', exhibition: exhibition %>
      <% end %>
    </div>


    <div class="col-xs-12 col-md-6">
      <button type="button" class="btn btn-create" data-toggle="modal" data-target=".bs-exhib-modal-lg<%=@exhibition.id || 0%>">Ajouter Une Exposition</button>

    </div>
  </div>
</div>


 <%= render 'exhibitions/shared/add_exhibition_form', exhibition: @exhibition %>

