<!-- Title -->
<div class="title">
Liste des expositions de l'utilisateur <%= current_user.first_name %>
</div>


<!-- Create button -->
        <div class="addex">
          <button type="button" class="btn btn-create" data-toggle="modal" data-target=".bs-exhib-modal-lg<%=@exhibition.id || 0%>">Ajouter Une Exposition</button>
        </div>
     </div>
<!-- Exhibition cards -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% @exhibitions.order(start_date: :desc).each do |exhibition| %>
        <div class="card-exhibition" style="background-image: url(<%= cl_image_path(exhibition.cover_photo.url(:banner)) %>);">
            <%= link_to "Modifier", user_exhibitions_path(current_user.id), class: "btn-modify" %>
            <%= link_to user_exhibition_path(current_user.id, exhibition.id) do %>
              <i class="fas fa-cogs"></i><p class="btn-gestion">Gérer l'exposition</p>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>


 <%= render 'exhibitions/shared/add_exhibition_form', exhibition: @exhibition %>

