<div class="full-height">
  <!-- Results Grid -->
  <div class="title-galeries">
    <p> Résultats pour "<%= params[:query] %>" </p>
  </div>
  <div class="container text-center select-form">
    <div class="row">
       <%= form_tag("",method: "get", remote: true, class: "form-inline") %> 
       <input type="hidden" name="search_query" value="<%=params[:query]%>">
       <div class="col-xs-12 col-sm-6">
        <label for="city"> Ville </label>
        <br>
        <%= select_tag "city", options_from_collection_for_select(@galleries.uniq,"city", "city"), id: "city", include_blank: 'Selectionner tous', class: "form-control" %>
       </div> 
       <div class="col-xs-12 col-sm-6">
        <label for="categories"> Catégorie</label>
        <br>
        <%= grouped_collection_select(:category, :parent_category ,@categories.where(parent_id: nil), :subcategories, "name", "id", "name", {include_blank: "Selectionner tous"},{id: "categories",  class: "form-control", name: "categories"}) %>
      </div> 
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
        <%=submit_tag "Filtrer les Résultats", class: "btn btn-warning" %>
      </div>
    </div>
  </div>

  <div id="search-render">
    <%  if @artworks[0].nil? %>
      <br><br><h4 class = 'text-center'>Aucun Résultat</h4><br><br>
    <% else %>
      <%= render 'shared/results', artworks: @artworks, galleries: @galleries, artists: @artists, markers: @markers %>
    <% end %>
  </div>

  <% content_for :after_js do %>
  <!-- <script type="text/javascript">
      function submit()
      {
          document.submitForm.submit(); // Submits the form without the button
      }
  </script> -->
  <% end %>
</div>