<div class="full-height">
  <!-- Results Grid -->
  <div class="title-galeries">
    <% if params[:query] != "" && params[:query] != nil %>
     <p> Résultats pour "<%= params[:query] %>" </p>
     <% end %>
  </div>
  <div class="container text-center select-form">
    <div class="row">
       <%= form_tag("",method: "get", remote: true, class: "form-inline") %> 
       <input type="hidden" name="search_query" value="<%=params[:query]%>" include_blank= "">
       <div class="col-xs-12 col-sm-4">
        <label for="city"> Ville </label>
        <br>
        <%= select_tag "city", options_from_collection_for_select(Gallery.all.uniq,"city", "city"), id: "city", include_blank: 'AUCUN SELECTIONNER', name: "city", class: "form-control filter" %>
       </div> 
       <div class="col-xs-12 col-sm-4">
        <label for="category"> Categorie </label>
        <br>
        <%= select_tag "category", options_from_collection_for_select(@categories.where(parent_id: nil), "id", "name"), id: "category_id", include_blank: 'AUCUN SELECTIONNER', class: "form-control filter", name: "category"%>
        </div>
        <div class="col-xs-12 col-sm-4">
          <label for="subcategory"> Sous-Categorie </label>
          <br>
          <div id="select-category">
          <%= select_tag "subcategory", options_from_collection_for_select(@categories.where(parent_id: @selected_category), "id", "name"), id: "category", include_blank: 'AUCUN SELECTIONNER', class: "form-control filter", name: "subcategory"%>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
        <%=submit_tag "Filtrer les Résultats", class: "btn btn-warning" %>
      </div>
    </div>
  </div>

  <div id="search-render">
    <%  if @artworks[0].nil? %>
      <br><br><h4 class = 'text-center'>Aucun Résultat</h4><br><br>
    <% else %>
      <%= render 'shared/results', artworks: @artworks, galleries: @galleries, artists: @artists, hash: @hash %>
    <% end %>
  </div>

</div>

