<div id="index-page"></div>
<!-- Results Grid -->
<div class="title-galeries">
  <p> Résultats pour "<%= params[:query] %>" </p>
</div>
<div class="container text-center select-form">
  <div class="row">
     <%= form_tag("",method: "get", remote: true, class: "form-inline") %> 
     <div class="col-xs-12 col-sm-6">
      <label for="city"> Ville </label>
      <%= select_tag "city", options_from_collection_for_select(@galleries.uniq,"city", "city"), id: "city", include_blank: 'séléctioner tous', class: "form-control" %>
     </div> 
     <div class="col-xs-12 col-sm-6">
      <label for="categories"> Categories</label>
      <%= select_tag "categories", options_from_collection_for_select(@categories.uniq,"name", "name"), id: "category", include_blank: 'séléctioner tous', class: "form-control" %>
      </div>  
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12">
      <%=submit_tag "Filtrer les Résultats", class: "btn btn-success" %>
    </div>
  </div>
</div>

<div id="search-render">
  <%= render 'shared/results', artworks: @artworks, galleries: @galleries, artists: @artists %>
</div>

<% content_for :after_js do %>
<!-- <script type="text/javascript">
    function submit()
    {
        document.submitForm.submit(); // Submits the form without the button
    }
</script> -->
<% end %>