<!--   CARD -->

<%= link_to artwork_path(artwork.id) do %>
  <div class="card-art">
    <div class="card-body" style="background-image: url(<%= cl_image_path(artwork.art_photos.first.photo.url(:cards)) %>)">
    </div>

    <div class="card-footer">
      <div class="card-title">
        <p><%= artwork.name %> </p>
        <div class="card-desc">
          <p><%= artwork.artist.first_name %> <%= artwork.artist.last_name %></p>
        </div>
      </div>
        <% if user_signed_in? %>
          <div class="controls" id= "controls-user<%=current_user.id%>art<%=artwork.id%>">
            <%= render "shared/artwork_controls", artwork: artwork %>
          </div>
          <% else %>
            <div class="controls" id= "controls-userart<%=artwork.id%>">
              <%= render "shared/artwork_controls", artwork: artwork %>
            </div>
          <% end %>
      </div>
    </div>
<% end %>
