<div class="card-art card-result">
  <div class="card-body gallery-card" style="background-image: url(<%= cl_image_path(gallery.photo.url(:cards)) %>)">
    <%= link_to "", gallery_path(gallery.id), class: "card-link2" %>
  </div>
  <div class="card-footer">
    <div class="card-title">
      <p> <%= gallery.name %> </p>
      <div class="card-desc">
        <p> <%= gallery.city %> </p>
      </div>
    </div>
    <% if user_signed_in? %>
      <div class="controls" id= "controls-user<%=current_user.id%>gallery<%=gallery.id%>">
        <%= render "shared/gallery_controls", gallery: gallery %>
      </div>
      <% else %>
      <div class="controls" id= "controls-usergallery<%=gallery.id%>">
        <%= render "shared/gallery_controls", gallery: gallery %>
      </div>
    <% end %>
  </div>
</div>
