<% if current_page?('/') == true %>
  <div class="navbar-wagon navbar-home">
    <% else %>
  <div class="navbar-wagon">
<% end %>
      <div class="left-part">
        <!-- Logo -->
        <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag ("logo.png") %>
        <% end %>

        <!-- Search -->
        <form class="navbar-form navbar-left form-inline" action="/artworks" method= "get" autocomplete="off">
          <div class="form-group">
            <input type="search" name= "query" class="form-control-btn-search"  placeholder="Recherche">
          </div>
        </form>
      </div>
      <!-- Right Navigation -->
      <div class="right-part hidden-xs hidden-sm">
        <%= link_to "Galeries", galleries_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to "Expositions", exhibitions_path, class: "navbar-wagon-item navbar-wagon-link"  %>
        <% if user_signed_in? %>
        <%= link_to "Tableau de bord", user_gallery_dashboard_path(current_user.id), class: "navbar-wagon-item navbar-wagon-link"  %>
        <%= link_to destroy_user_session_path, method: :delete, class: "log-btn" do %>
                <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        <% else %>
        <%= link_to "Sign In", new_user_session_path, class: "log-btn" %>
        <% end %>
      </div>

  <!-- Dropdown appearing on mobile only -->
      <div class="navbar-wagon-item hidden-md hidden-lg">
        <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><%= link_to "Galeries", galleries_path %></li>
            <li><%= link_to "Expositions", exhibitions_path %></li>
          </ul>
        </div>
      </div>
    </div>


