
<div class="main-results-page-grid">
<!-- Tab Pannels -->
  <div class="results-tabs">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs tab-title" role="tablist" id="#search_tabs">
      <li role="presentation" class="active"><a href="#art" aria-controls="art" role="tab" data-toggle="tab" id="first-result-tab">Oeuvres</a></li>
      <li role="presentation"><a href="#gallery" aria-controls="gallery" role="tab" data-toggle="tab">Galeries</a></li>
      <li role="presentation"><a href="#artist" aria-controls="artist" role="tab" data-toggle="tab">Artistes</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">

      <div role="tabpanel" class="tab-pane fade active in" id="art">
          <div class="wrapper-first art-results-wrapper">
            <!-- Artwork card Result -->
            <div class="container results-container">
              <div class="row masonry-row">
                <% if artworks[0].nil?%>
                <br><br><div class="text-center"><h4>Aucun Resultat</h4></div><br><br>
                <% else %>
                  <% artworks.each do |artwork| %>
                    <div class="col-xs-12 col-md-6 col-lg-4 masonry-item">
                      <%= render "shared/artwork_card", artwork: artwork %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>  
        </div> 

      <div role="tabpanel" class="tab-pane fade" id="gallery">
          <div class="wrapper-first art-results-wrapper">
            <!-- Gallery card Result -->
            <div class="container results-container">
              <div class="row  masonry-row">
                <% if galleries[0].nil?%>
                <br><br><div class="text-center"><h4>Aucun Resultat</h4></div><br><br>
                <% else %>
                  <% galleries.uniq.each do |gallery| %>
                    <div class="col-xs-12 col-md-6 col-lg-4 masonry-item">
                      <%= render "shared/gallery_card", gallery: gallery %>
                    </div>
                  <% end %>
                <% end %>  
              </div>
            </div>
          </div> 
        </div> 

      <div role="tabpanel" class="tab-pane fade" id="artist">
          <div class="wrapper-first art-results-wrapper">
            <!-- Artwork card Result -->
            <div class="container results-container">
              <div class="row  masonry-row"> 
                <% if artists[0].nil?%>
                <br><br><div class="text-center"><h4>Aucun Resultat</h4></div><br><br>
                <% else %>        
                  <% artists.uniq.each do |artist| %>
                    <div class="col-xs-12 col-md-6 col-lg-4 masonry-item">
                      <%= render "shared/artist_card", artist: artist %>
                    </div>
                  <% end %>
                <% end %>  
              </div>
            </div>
          </div> 
        </div> 
    </div>
    <div>
      <%= will_paginate artworks, :previous_label => 'Précédent', :next_label => 'Suivant' %>
    </div>
  </div>

  <div class="" id="map-wrapper">
    <div
      id="map"
      style=""
      ></div>
  </div>  

</div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    var handler = Gmaps.build('Google');

    handler.buildMap({internal: { id: 'map' } }, function(){
      markers = handler.addMarkers(<%= raw hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  </script>
  <% end %>