<div class="full-height">
<!-- Home banner -->
 <div id="home-banner-carousel" class="carousel slide" data-ride="carousel" data-interval="10000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#home-banner-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#home-banner-carousel" data-slide-to="1"></li>
    <li data-target="#home-banner-carousel" data-slide-to="2"></li>
  </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="banner-home" href="#" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= image_path('173.jpg') %>);">
          <br><br>
            <div class="banner-title">
              <p> ARTKET </p>
            </div>
            <br>
            <div class="banner-subtitle">
              <p>Première plateforme pour les galeries d'art au Maroc</p>
            </div>
            <% if user_signed_in? %>
            <% else %>
                <div class="banner-text">
                  <p>Inscrivez-vous pour reçevoir les dernières nouvelles de vos artistes préférés</p>
                </div>
                  <%= link_to "S'inscrire", new_user_session_path, class: "log-btn-banner" %>
            <% end %>
        </div>
      </div>

       <%  @exhibitions.first(2).each do |exhibition| %>
       <div class="item">
          <a class="banner-home" href="/exhibitions/<%=exhibition.id%>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(exhibition.cover_photo.url(:cards)) %>);", target = "_blank">
              <div class="banner-subtitle">
                <p>Nouvelle exposition à partir du <strong> <%= " #{ exhibition.start_date.strftime('%d/%m/%Y')}" %></strong></p>
              </div>

              <div class="banner-title">
                <p><%= exhibition.name %> </p>
              </div>

              <div class="banner-subtitle">
                <p>Présentée par la galerie</p>
              </div>

              <div class="banner-title">
                <p><%= exhibition.gallery.name %></p>
              </div>
          </a>
        </div>
        <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control carrousel-controler" href="#home-banner-carousel" role="button" data-slide="prev">
      <span class="carousel-arrow" aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control carrousel-controler" href="#home-banner-carousel" role="button" data-slide="next">
      <span class="carousel-arrow" aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<!-- Quick Search Buttons -->
  <div class="title-galeries">
  <p> Recherche Par Catégories </p>
  </div>
  <div class="container">
    <div class="row">
      <br>
      <div class="col-xs-6 col-sm-4 flex-home">
        <%= link_to artworks_path(category: Category.find_by_name("Peinture").id) do %>
           <button class="btn btn-home">Peinture</button>
        <% end %>
      </div>
      <div class="col-xs-6 col-sm-4 flex-home">
        <%= link_to artworks_path(category: Category.find_by_name("Sculpture").id) do %>
           <button class="btn btn-home">Sculpture</button>
        <% end %>
      </div>
      <div class="col-xs-6 col-sm-4 flex-home">
        <%= link_to artworks_path(category: Category.find_by_name("Photographie").id) do %>
           <button class="btn btn-home">Photographie</button>
        <% end %> 
      </div>
      <div class="col-xs-6 col-sm-4 flex-home">  
        <%= link_to artworks_path(category: Category.find_by_name("Editions").id) do %>
           <button class="btn btn-home">Editions</button>
        <% end %>
      </div>
      <div class="col-xs-6 col-sm-4 flex-home">   
        <%= link_to artworks_path(category: Category.find_by_name("Dessin").id) do %>
           <button class="btn btn-home">Dessin</button>
        <% end %>
      </div>
      <div class="col-xs-6 col-sm-4 flex-home">   
        <%= link_to artworks_path do %>
           <button class="btn btn-home">Tous</button>
        <% end %>
      </div>
    </div>
  </div>




<!-- Galeries cards -->
  <div class="title-galeries">
  <p> Galeries </p>
  </div>
    <div class="container">
      <div class="row">
        <% 3.times do %>
          <% @galleries.each do |gallery| %>
          <div class="col-xs-12 col-md-6 col-lg-4">
            <%= render "shared/gallery_card", gallery: gallery %>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>

<hr>

<!-- Artistes à suivre  -->
  <div class="title-artistes">
    <p> Artistes à suivre </p>
  </div>
  <div class="container">
    <div class="row">
        <% @artists.first(6).each do |artist| %>
          <div class="col-xs-12 col-md-6 col-lg-4">
            <%= render "shared/artist_card", artist: artist %>
          </div>
        <% end %>
    </div>
  </div>

<hr>

<!-- Expositions -->
  <div class="container">
    <div class="ban-expo" style=" background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(<%= image_path('banner-expo.jpg'); %>);">
        <%= link_to "", exhibitions_path, class: "card-link"%>
      <p>Toutes les expositions</p>
    </div>
  </div>

<!-- Suggestions  style in home.scss-->
<!--   <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="sug populaires">
          <p>Populaire</p>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="sug nouveautes">
          <p>Nouveautés</p>
        </div>
      </div>
    </div>
  </div> -->
</div>