<h1>Welcome to <%= current_user.first_name %> Dashboard</h1>

<div class="container">
<!-- Container chart -->
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="container-chart">
        <div class="row">
            <div class="col-xs-12 col-md-6">
              <div class="likes chart">
                <div class="tag">52 Likes</div>
              </div>

              <div class="views chart">
                <div class="tag">121 Vues</div>
              </div>
            </div>

            <div class="col-xs-12 col-md-6">
              <div class="artworks chart">
                <div class="tag">34 Oeuvres</div>
              </div>

              <div class="exhibitions chart">
                <div class="tag">2 Expositions</div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="links">
        <%= link_to "Informations", user_gallery_dashboard_path(current_user.id), class: "btn-create" %>
        <% if @gallery %>
          <%= link_to "Oeuvres", user_gallery_path(current_user.id, @gallery.id), class: "btn-create" %>
        <% end %>
        <%= link_to "Expositions", user_exhibitions_path(current_user.id), class: "btn-create" %>
        <%= link_to "Artistes", user_artists_path(current_user.id), class: "btn-create" %>
      </div>
      <h2> Notifications clients </h2>
      <hr>
      <h2> Notifications plateforme </h2>
      <hr>
    </div>
  </div>
</div>
