<div class="login">

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row">
  <div class="col-xs-12 col-md-6" style="padding-right: 0;">
  <h5 class = "log-btn-custom dark"><%= link_to "Nouveau Compte", new_registration_path(resource_name) %></h5>
  </div>
  <div class="col-xs-12 col-md-6"style="padding-left: 0;">
    <h5 class="log-btn-custom">Log in</h5>
  </div>
</div>
<h3 class = "text-center">S'enregistrer</h3>
<br>
  <div class="form-inputs">           
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, label: "Se rappeler de moi", as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions sign-btn">
    <%= f.button :submit, "Log in" %>
  </div>
  <br>
  <div class="forgot-password">
    <%= link_to "Mot de passe oublié?", new_password_path(resource_name) %>
  </div>
<% end %>

</div>
