
<div class="full-height">
  <!-- Form contact -->
  <div class="container container-contacts">
    <div class="row">
      <h1><%=@gallery.name %></h1>

      <div class="col-xs-12 col-md-6">
        <div class="form contact-form">
          <form action="/users/<%= current_user.id %>/conversations" method="POST" style="width: 90%; margin: 0 auto;">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            <textarea name="body" class="f-input" placeholder="Type a comment"></textarea>
            <input type="hidden" name="sender_id" value="<%= current_user.id %>">
            <input type="hidden" name="receiver_id" value="<%= @gallery.user_id %>">
            <button type="submit" value="send">Send message</button>
          </form>
        </div>
      </div>


    <div class="col-xs-12 col-md-6">
      <div
        id="map-contact"
        style="height: 400px; width: 100%;"
        data-markers="<%= @markers.to_json %>"
        ></div>
        <div class="adress">
          <p><%= @gallery.full_address %></p>
          <p><%= @gallery.phone %></p>
          <p><%= @gallery.email %></p>
        </div>
    </div>
  </div>
</div>
