<!-- Gallery name -->
  <div class="title-galeries">
    <p><%= @gallery.name %></p>
  </div>

<!-- Gallery banner -->
  <div class="ban-gallery" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(@gallery.photo.url(:banner)) %>);">
  </div>

<!-- Social -->
  <div class="social">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>

<!-- Informtions Paragraph -->
  <div class="information">
    <div class="info-title">
      <p>INFORMATIONS</p>
    </div>
    <div class="info-text">
      <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.<%= @gallery.description %></p>

    </div>
  </div>

<hr >

<!-- Shorcuts -->
  <div class="shortcuts">
    <a href="#artworks">OEUVRES</a>
    <a href="#exhibition">EXPOSITIONS</a>
    <a href="#artists-list">ARTISTES</a>
  </div>

<hr>

<!-- Artworks cards -->
  <div class="title-galeries" id="artworks">
  <p> Oeuvres </p>
  </div>
    <div class="container">
      <div class="row">
          <% @gallery.artworks.each do |artwork| %>
            <div class="col-xs-12 col-md-6 col-lg-4">
              <%= render "shared/artwork_card", artwork: artwork %>
            </div>
          <% end %>
      </div>
    </div>

<hr>

<!-- Expositions -->
  <div class="container-expo" id="exhibition">
      <% @gallery.exhibitions.each do |exhibition| %>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="expo-left">
              <div class="expo-title">
                <%= exhibition.name %>
              </div>
              <div class="expo-dates">
                <%= exhibition.start_date %>
                <%= exhibition.end_date %>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="expo-right" style="background-image: url('http://www.londonsociety.org.uk/wp-content/uploads/2018/04/LS-L.G.E-SOHO.jpg')"></div>
          </div>
        </div>
      <% end %>
  </div>

<hr>


<!-- Liste des artistes -->
  <div class="title-artistes" id="artists-list">
    <p> Liste des artistes </p>
  </div>
    <div class="container">
      <div class="row">
        <% @gallery.artists.uniq.each do |artist| %>
          <div class="col-xs-12 col-md-6 col-lg-4">
            <%= render "shared/artist_card", artist: artist %>
          </div>
        <% end %>
      </div>
    </div>
