<!-- Title -->
<div class="container text-center">
  <h1> <%= current_user.first_name %>'s gallery <strong> <%= @gallery.name %> </strong></h1>
</div>
<br>
<br>

<div class="wrapper" id="main-user-gallery-show">
  <!-- Left Side of Page -->
  <div class="container left">
    <table class="table table-hover table-artwork">
      <tr>
        <th>Photo</th>
        <th>Nom</th> 
        <th>Artist</th>
        <th>Année</th>
        <th>Dimensions</th>
        <th>Prix</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    <% @gallery.artworks.each do |artwork| %>
      <tr>
        <td> <%= image_tag artwork.art_photos.first.photo.url(:cards), style: 'height: 70px;' %></td>
        <td> <%= artwork.name %></td> 
        <td> <%= artwork.artist.first_name %></td>
        <td> <%= artwork.year %></td>
        <td> <%= artwork.dimensions %></td>
        <td> <%= artwork.price %></td>
        <td>Active</td>
        <td>   <%= link_to "Modifier", edit_artwork_path(artwork.id), class: "btn btn-create"  %><%= link_to artwork_path(artwork), method: :delete do %> 
              <i class="fas fa-trash" style= "color: black;" id= "delete-link-<%=artwork.id%>"></i>
            <% end %>
              <!-- <span data-id="<%=artwork.id%>" class="btn btn-primary sweet-alert-d"><i class="fas fa-trash"></i></span> </td> -->
      </tr>
    <% end %>
    
  
    </table>

  </div>

  <!-- Right Side of Page - Add artworks Form  -->
  <div class="container right">
    <%= render 'galleries/shared/add_artwork_form', gallery: @gallery %>
</div>


