<!-- Large Modal Target -->
<div class="modal fade bs-add-modal-lg<%=artwork.id || 0%>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="add-artwork-form">
        <%= simple_form_for(artwork, html: {multipart: true}) do |f| %>
        <!--           <div style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
          </div> -->
          <div class="tab<%=artwork.id || 0%> tabs">
            <div class="text-center">
              <h4>Informations sur l'Oeuvre</h4>
            </div>
          <hr>
            <%= f.input :name, label: "Nom" %>
            <%= f.input :description, as: :text %>
            <%= f.input :year, label: "Année" %>
            <%= f.input :dimensions %>
            <%= f.input :price, label: "Prix" %>
            <%= f.association :artist, label_method: :first_name, value_method: :id %>
          <hr>
          <input type="hidden" name= "gallery_id" value="<%=gallery.id%>">
        </div>
        <div class="tab<%=artwork.id || 0%> tabs">
          <div class="text-center">
            <h4>Ajouter des Photos</h4>
          </div>
          <br>
            <%= f.simple_fields_for :artwork do |p| %>
              <%= p.file_field :art_photo, :multiple => true, name: "art_photos[photo][]" %>
            <% end %>
           <% 5.times do %>
            <br> 
           <% end %>
        </div>
        <div class="tab<%=artwork.id || 0%> tabs">
          <div class="text-center">
            <h4>Choisir les Catégories</h4>
          </div>
            <div id="equipements">
              <fieldset class="form-group">
                  <input type="hidden" name="artwork[category_ids][]" value="">

                    <% Category.all.where(parent_id: nil).each do |parent| %>
                      <h5><%= parent.name %></h5>
                      <div class="parent-category">
                        <div class="category-choices">
                          <% parent.subcategories.each do |category| %>
                              <input class="form-check-input hidden" type="checkbox" value="<%=category.id%>" name="artwork[category_ids][]" id="artwork_category_ids_<%=category.id%>">
                              <label class="category-choice" for="artwork_category_ids_<%=category.id%>"><%= category.name %></label>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
              </fieldset>
            </div>
          <hr>

            <div class="text-center">
              <div class="submit-artwork">
                <%= f.button :submit, class: 'btn btn-create', value: "Ajouter une Oeuvre d'Art" %>
              </div>
            </div>
            <br>
          </div>

          <div class="prev-nex-button" data-value="<%=artwork.id|| 0%>">
              <button type="button" id="prevBtn<%=artwork.id || 0%>" onclick="nextPrev(-1,this.parentElement.dataset.value)">Precedent</button>
              <button type="button" id="nextBtn<%=artwork.id || 0%>" onclick="nextPrev(1, this.parentElement.dataset.value)">Suivant</button>
          </div>


        <% end %>
      </div>
    </div>
  </div>
</div>
